pylint==2.6.0
pytest==6.1.2
pytest-pylint==0.17.0
pytest-runner==5.2
pytest-cov==2.10.1
pytest-pycharm==0.7.0
pytest-mock==3.3.1
tensorflow==2.5.0
keras==2.4.3
jupyter==1.0.0
importnb==0.6.2
seaborn==0.11.0
humanize==4.2.3
dill==0.3.5.1
folktables==0.0.11
faker==14.2.0
datasets==2.7.1
psutil==5.9.4
sentence-transformers==2.2.2
textdistance==4.5.0
csvmatch @ git+https://github.com/stefan-grafberger/csvmatch.git@07802101cefec6a52502944a14be02cde5833d1f
